<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Ikke fundet</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Beklager, der er intet indhold på denne adresse.</p>
                <a href="/" class="btn btn-primary">Gå til forsiden</a>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
``
